body {
    background-color: #FFF8DC;
    color: #556B2F;
    font-family: Arial, Verdana, sans-serif;
}

header{
    background-color: #A;5F9A0;
    color: #87CEFA;
    font-family: Georgia, serif;
}

h1{
    line-height: 200%;
}

h2{
    color: #B0C4DE;
    font-family: Georgia, serif;
}

nav{
    font-weight: bold;
    background-color: #87CEFA;
}

dt{
    color: #4169E1;
    font-weight: bold;
}

.resort{
    color: #afeeee;
    font-size: 1.2em;
}

footer{
    font-size: .70em;
    text-align: center;
    font-style: italic;
}
#wrapper{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}